body {
  font-family: sans-serif;
  font-weight: lighter;
}
.product-container {
  justify-content: center;
  align-items: center;
}

.ui.compact.segment {
  display: flex;
  width: 100%;
  padding: 5px;
  align-items: center;
  margin-bottom: 5px;
  color: #a6a5a5;
  border-radius: 0px;
  justify-content: space-between;
}

.ui.compact.segment img {
  margin-right: 10px;
}

.product-list table {
  width: 60%;
}
.item-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-delete:hover {
  cursor: pointer;
}

.shopping-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.count {
  width: fit-content !important;
  margin: auto !important;
  height: 45px;
  padding: 0 20px !important;
}

.item-container h1 {
  color: #a6a5a5;
  font-weight: lighter;
  font-family: sans-serif;
  display: inherit;
  margin-left: 10px;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd-table th {
  display: none;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  color: #a6a5a5 !important;
  font-weight: 400;
}
.rwd-table td {
  display: block;
}
.rwd-table tr td {
  padding: 0 !important;
}
.rwd-table td:first-child {
  width: 65%;
  padding-top: 0.5em;
}

.rwd-table td:last-child {
  padding-bottom: 0.5em;
  color: #646363;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.rwd-table {
  color: #a6a5a5;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
  display: inline-flex;
}
// .rwd-table tr:nth-child(2) td .ui.compact.segment {
//   margin-top: 30px !important;
// }
.rwd-table tr td:nth-child(2) {
  margin-left: 25px;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  margin-right: 25px;
}

.rwd-table tr td:nth-child(2) div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rwd-table tr td:nth-child(2) div:nth-of-type(1) {
  margin-right: 10px;
}

.rwd-table tr td:nth-child(2) div:nth-of-type(3) {
  margin-left: 10px;
}
.rwd-table tr td:nth-child(2) div:nth-of-type(1):hover,
.rwd-table tr td:nth-child(2) div:nth-of-type(3):hover {
  cursor: pointer;
}

.rwd-table tr:nth-child(1) th:nth-of-type(2) {
  text-align: center;
}

@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    padding: 0.5em !important;
  }
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}
